%div.center-condensed
  %div.controls
    %a.btn{href: "/sheet/create/#{@directory.id}"} New sheet
    %a.btn{href: "/directory/create/#{@directory.id}"} New directory

  %table.directory
    %thead
      %tr
        %th Name
        %th Last modified
        %th Settings

    %tbody

      - unless @directory.root?
        %tr.directory.back
          %td
            %a{href: @directory.parent.root? ? "/directory" : "/directory/#{@directory.parent.id}/#{@directory.parent.slug}"}
              %i.fa.fa-reply
              Parent directory
          %td
          %td

      - @directory.directories.each do |subdir|
        %tr.directory
          %td
            %a{href: "/directory/#{subdir.id}/#{subdir.slug}"}
              %i.fa.fa-folder-o
              = subdir.name
          %td
            = subdir.updated_at
          %td
            - if subdir.creator_id == current_user.id
              != post_button 'Delete', "/directory/delete/#{subdir.id}", confirm: 'Are you really really sure you want to delete this directory?'

      - @directory.sheets.each do |sheet|
        %tr.sheet
          %td
            %a{href: "/sheet/#{sheet.id}"}
              %i.fa.fa-table
              = sheet.name
          %td
            = sheet.updated_at
          %td
            != post_button 'Delete', "/sheet/delete/#{sheet.id}", confirm: 'Are you really really sure you want to delete this sheet?'
