%div.center-condensed
  %div.controls
    .left
      - unless @directory.root?
        %i.fa.fa-folder-o
        - if @directory.shared?
          - if @directory.creator_id == current_user.id
            %i.fa.fa-user-plus
          - else
            %i.fa.fa-users
        = @directory.path(current_user)

    %a.btn{href: "/sheet/create/#{@directory.id}"} New sheet
    %a.btn{href: "/directory/create/#{@directory.id}"} New directory

  %table.directory
    %thead
      %tr
        %th Name
        %th Last modified
        %th Settings

    %tbody

      - unless @directory.root?
        %tr.directory.back
          %td
            %a{href: @parent.root? ? "/directory" : "/directory/#{@parent.id}/#{@parent.slug}"}
              %i.fa.fa-reply
              Parent directory
          %td
          %td

      - @directories.each do |subdir|
        %tr.directory
          %td
            %a{href: "/directory/#{subdir.id}/#{subdir.slug}"}
              %i.fa.fa-folder-o
              - if subdir.shared?
                - if subdir.creator_id == current_user.id
                  %i.fa.fa-user-plus
                - else
                  %i.fa.fa-users
              = subdir.name
          %td
            = subdir.updated_at
          %td
            - if subdir.creator_id == current_user.id
              %a.btn{href: "/directory/edit/#{subdir.id}"} Edit
              != post_button 'Delete', "/directory/delete/#{subdir.id}", confirm: 'Are you really really sure you want to delete this directory?'
            - else
              != post_button 'Unshare', "/directory/unshare/#{subdir.id}", confirm: 'Are you really sure you want to remove the share?'

      - @directory.sheets.order(updated_at: :desc).each do |sheet|
        %tr.sheet
          %td
            %a{href: "/sheet/#{sheet.id}"}
              %i.fa.fa-table
              = sheet.name
          %td
            = sheet.updated_at
          %td
            %a.btn{href: "/sheet/edit/#{sheet.id}"} Rename
            != post_button 'Delete', "/sheet/delete/#{sheet.id}", confirm: 'Are you really really sure you want to delete this sheet?'
