!!! 5
%html
  %head
    %title SpreadSheep Alpha - the alpha sheep

    %link{rel: 'stylesheet', href: '//cdnjs.cloudflare.com/ajax/libs/handsontable/0.12.5/handsontable.full.min.css'}

    != css :application
    != css :sheet_view

    %script{src: '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/handsontable/0.12.5/handsontable.full.min.js'}

    != js :application
    != js :sheet_view

  %body.fullscreen
    %header
      %h1
        = @sheet.name
      #menu
        %a.btn{href: "/directory/#{@sheet.directory.id}/#{@sheet.directory.slug}"} Back

    #table
